<h1>Formulario reactivo</h1>

<form novalidate [formGroup]="form" (submit)="submit()">
    <p *ngIf=" idAux !== -1; else nuevo">Usuario a modificar: {{idAux}}</p>
    <ng-template #nuevo><p> Id:<input type="number" formControlName="id" min="0" step="1"/></p></ng-template>
    <p>DNI: <input type="text" formControlName="dni" /></p>
    <p>Nombre: <input type="text" formControlName="nombre" /></p>
    <p>Horas: <input type="number" formControlName="horas" /></p>
    <button type="submit">Aceptar</button>
    <button type="button">Cancelar</button>
</form>